body {
    margin: 0;
    padding: 0;
}

#brandbar .container:after,
#global-footer .container:after {
    clear: both;
}

#brandbar .row:after,
#global-footer .row:after {
    clear: both;
}


/* Background gradient */

#brandbar {
    background: #8c1515;
    box-shadow: inset 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
    /* Horizontal offset , vertical offset, blur, internal spacing */
    min-height: 30px;
}


/* Prevent flush left */

#brandbar .container img {
    padding: 4px 0 0 10px;
}

#global-footer a {
    color: #e3dfd5;
    text-decoration: none;
}

#global-footer a:hover {
    text-decoration: underline;
}


/* Prevent horizontal scroll bar */

#global-footer .container {
    padding: 3px 7px 20px;
}

#global-footer .container .row {
    margin: 30px 0 0;
}


/* Align logo and text */

#bottom-logo {
    margin: 0 0 10px;
    padding: 0;
}

#bottom-text {
    margin-top: 0;
}

p.copyright {
    font: 11px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 25px 0 0;
    line-height: 1.5em;
    text-align: center;
}

#global-footer {
    min-height: 120px;
    clear: both;
    background-color: #8c1515;
    color: #e3dfd5;
    box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.2)
}

#global-footer .clear {
    clear: both
}

#global-footer .container .row {
    margin: 30px 0 0 0
}

#global-footer #bottom-logo {
    margin: 0 0 10px;
    padding: 0
}

#global-footer #bottom-logo img {
    display: block;
    margin: 0 auto
}

#global-footer #bottom-text ul li a {
    font-size: 15px;
    line-height: 20px
}

#global-footer p.copyright {
    color: #e3dfd5;
    padding: 0 15px;
    margin: 0;
    font-size: 13px;
    line-height: 1.5em;
    text-align: left;
}

#global-footer p.copyright #termsofuse {
    margin-left: 10px;
    font-size: 12px
}